/* git pull --rebase */

/* body {
    
} */
h1 {
    font-family: montserrat;
    font-size: 50px;
}
h2 {
    font-family: montserrat;
    font-size: 25px;
}
p {
    font-family: oswald;
    font-size: 18px;
    padding-top: 2%;
}
.logo {
    width: 20%;
}
.navbar {
    background-color: #F9E2C7;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: oswald, monospace;
    font-size: 20px;
    color: #513724
}
.nav-link:hover {
    font-size: larger;
}
.bake {
    padding-top: 2%;
    text-align: center;
}
#black-line {
    width: 30%;
    margin: auto;
    color: #000000
    
}
.blue-cupcakes {
    width: 40%;
}
.pink-line {
    border: 2px solid #F29EB0;
}